{% extends "base.html" %}
{% block body %}

    <h2>Requests</h2>
    <a href="/requests/add">New Request</a>
    <table>
    	<tr>
    		<th>ID</th><th>Topic</th><th>Level</th><th>Request date</th><th>Has Response</th>
    	</tr>
        {% for request in requests %}
        <tr>
            <td><a href="/requests/{{request.id}}"> {{ request.id }}</a></td>
            <td>{{request.topic}}</td>
            <td>{{request.level}}</td>
            <td>{{request.submission_date}}</td>
            {% if request.response %}
            <td><a href="/response/{{request.id}}">{{request.response.response_date}}</a></td>
            {% else %}
            <td><a href="/response/{{request.id}}/add">ADD</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
		{% endblock %}